* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230mm;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

.container{
    position: relative;
    width: 100%;
    height: 320mm;
    max-width: 1000px;
    margin: 5px;
    background: #fff;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.profiletext{
    display: flex;
    flex-direction: column;
    height: 9%;
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 3%;
    padding-top: 3%;
}

.profiletext .title7{
    color: rgba(20, 54, 155,1);
    padding-top: 2%;
    padding-left: 3%;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
}

.profiletext .imgbx{
    display: none;
}

.occupation{
    margin-top: 0px;
    margin-left: 3%;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 2em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.about{
    padding-left: 6%;
    padding-top: 2%;
    padding-right: 3%;
    height: auto;
    margin-right: 35%;
}

.about:last-child{
    margin-bottom: 0;
}

.about .title3{
    display: none;
}

.contactinfo{
    position: absolute;
    top: 3%;
    left: 81%;
}

.contactinfo .title{
    display: none;
}

.contactinfo ul{
    position: relative;
    padding-left: 0%;
    margin-right: 5%;
}

.contactinfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding-right: 23%;
}

.contactinfo ul li .icon{
    display: inline-block;
    position: absolute;
    left: 88%;
    top: 1%;
    width: 30px;
    font-size: 18px;
    color: rgba(20, 54, 155,1);
}

.contactinfo ul li .text{
    display: flex;
    justify-content: flex-end;
}

.contactinfo ul li span{
    font-weight: 300;
}

.education{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 60%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    padding-top: 0px;
    height: auto;
}

.education .title4{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: rgba(20, 54, 155,1);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    line-height: 2em;
    font-size: 18px;
}

.education ul{
    padding-left: 0%;
    margin-top: 1%;
}

.education li{
    margin-bottom: 2%;
    list-style: none;
}

.education h5{
    float: right;
    font-weight: 530;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 2%;
}

.education h4:nth-child(2){
    font-weight: 700;
    margin-top: 0%;
    margin-bottom: 0px;
}

.education h4{
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 0px;
}

.languag{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 85%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    padding-top: 1.5%;
    height: auto;
}

.languag .title8{
    text-transform: uppercase;
    color: rgba(20, 54, 155,1);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 18px;
}

.languag ul li{
    position: relative;
    list-style: none;
    margin: 2px;
}

.languag .percent{
    position: relative;
    width: 60%;
    height: 6px;
    background: #081921;
    display:block;
    margin-top:5px;
} 

.languag .percent div{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(20, 54, 155,1);;
}

.Experience{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 34%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.Experience .title2{
    color: rgba(20, 54, 155,1);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 0px;
    font-size: 18px;
}

.Experience .box{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.Experience .box .year_company{
    min-width: 150px;
}

.Experience .box .year_company .year{
    float: right;
}

.Experience .box .year_company .company{
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
}

.Experience .box .year_company h5{
    text-transform: uppercase;
    font-weight: 530;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 1%;
}

.Experience .box .text h4{
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
}

p{
    color: #333;
    font-size: 15px;
    margin-top: 1%;
}

.Experience .box .text .description{
    color: #333;
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.DisplaySkillsList{
    display: block !important;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 18%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.DisplaySkillsList .SkillsListTitle{
    color: rgba(20, 54, 155,1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
    padding-right: 2%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    line-height: 2em;
    display: flex;
    justify-content: center;
}

.DisplaySkillsList ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0%;
    margin-top: 1%;
}
.DisplaySkillsList ul li{
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 0%;
    margin-right: 2%;
    background-color: rgba(20, 54, 155,1);
    border-radius: 15%;
}

.DisplaySkillsList ul li h4{
    color: #fff;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 2%;
    padding-top: 9%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

.interest{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 80%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.interest .title6{
    color: rgba(20, 54, 155,1);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
}

.interest ul{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    padding-left: 2%;
}

.interest ul li{
    color: #333;
    font-weight: 500;
    margin: 2%;
    margin-left: 0%;
}
