* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

.skin6.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230mm;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

.skin6.container{
    position: relative;
    width: 100%;
    min-height: 390mm;
    max-width: 1000px;
    margin: 5px;
    background: #fff;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.skin6.horizontalline{
    display :block !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 7%;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    height: 2%;
    background: #640dccf7;
    width: 85%;
    position: absolute;
    top: 3%;
}

.skin6.profiletext{
    padding: 0px;
    padding-bottom: 0px;
    padding-left: 3%;
    padding-top: 7%;
}

.skin6.profiletext .title7{
    padding-top: 2%;
    padding-left: 3%;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1em;
    display: flex;
    justify-content: center;
}

.skin6.profiletext .imgbx{
    display: none;
}

.skin6.occupation{
    display: none;
}

.skin6.about{
    border-top: 4px dotted #640dccf7;
    border-bottom: 4px dotted #640dccf7;
    position: absolute;
    top: 15%;
    padding-left: 6%;
    padding-top: 1%;
    padding-right: 3%;
    margin-right: 8%;
    margin-top: 2%;
    margin-left: 7%;
    height: auto;
}

.skin6.about:last-child{
    margin-bottom: 0;
}

.skin6.about .title3{
    display: none;
}

.skin6.contactinfo{
    position: relative;
    display: flex;
    justify-content: center;
}

.skin6.contactinfo .title{
    display: none;
}

.skin6.contactinfo ul{
    position: relative;
    padding-left: 0%;
    margin-right: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr ; 
}

.skin6.contactinfo ul li{
    position: relative;
    list-style: none;
    margin-top: 1%;
    cursor: pointer;
    padding-right: 23%;
}

.skin6.contactinfo ul li .icon{
    display: none;
}

.skin6.contactinfo ul li .text{
    display: flex;
    justify-content: flex-end;
}

.skin6.contactinfo ul li span{
    font-weight: 300;
}

.skin6.education{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 59%;
    bottom: 1%;
    padding-right: 8%;
    padding-left: 7%;
    padding-top: 0px;
    height: auto;
}

.skin6.education .title4{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
    line-height: 2em;
    font-size: 18px;
}

.skin6.education ul{
    padding-left: 0%;
    margin-top: 1%;
}

.skin6.education li{
    margin-bottom: 2%;
    list-style: none;
}

.skin6.education h5{
    float: right;
    font-weight: 530;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 2%;
}

.skin6.education h4:nth-child(2){
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 0px;
}

.skin6.education h4{
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 0px;
}

.skin6.languag{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 83%;
    bottom: 1%;
    padding-right: 8%;
    padding-left: 7%;
    padding-top: 1.5%;
    height: auto;
}

.skin6.languag .title8{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-size: 18px;
}

.skin6.languag ul li{
    position: relative;
    list-style: none;
    margin: 2px;
}

.skin6.languag .percent{
    position: relative;
    width: 60%;
    height: 6px;
    background: #081921;
    display:block;
    margin-top:5px;
} 

.skin6.languag .percent div{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: #640dccf7;
}

.skin6.Experience{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 25%;
    bottom: 1%;
    padding-right: 8%;
    padding-left: 7%;
    height: auto;
}

.skin6.Experience .title2{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 0px;
    font-size: 18px;
}

.skin6.Experience .box{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.skin6.Experience .box .year_company{
    min-width: 150px;
}

.skin6.Experience .box .year_company .year{
    float: right;
}

.skin6.Experience .box .year_company .company{
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
}

.skin6.Experience .box .year_company h5{
    text-transform: uppercase;
    font-weight: 530;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 1%;
}

.skin6.Experience .box .text h4{
    text-transform: uppercase;
    font-weight: 540;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.skin6.p{
    color: #333;
    font-size: 15px;
    margin-top: 1%;
}

.skin6.Experience .box .text .description{
    color: #333;
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.skin6.DisplaySkillsList{
    display: block !important;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 50%;
    bottom: 1%;
    padding-right: 8%;
    padding-left: 7%;
    height: auto;
}

.skin6.DisplaySkillsList .SkillsListTitle{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
    padding-right: 2%;
}

.skin6.DisplaySkillsList ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0%;
    margin-top: 0%;
}
.skin6.DisplaySkillsList ul li{
    margin-top: 0%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 4%;
    margin-right: 2%;
}

.skin6.DisplaySkillsList ul li h4{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.skin6.interest{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 78%;
    bottom: 1%;
    padding-right: 8%;
    padding-left: 7%;
    height: auto;
}

.skin6.interest .title6{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
}

.skin6.interest ul{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    padding-left: 2%;
}

.skin6.interest ul li{
    color: #333;
    font-weight: 500;
    margin: 2%;
    margin-left: 0%;
}
