* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

.skin3.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230mm;
    height: auto;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

.skin3.container{
    position: relative;
    width: 100%;
    height: 370mm;
    max-width: 1000px;
    min-height:1000px;
    margin: 5px;
    background: #fff;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.2);
}

.skin3.profiletext{
    position: absolute;
    left: 4%;
    top: 3%;
    bottom: 1%;
    height: auto;
    padding: 0px;
    padding-bottom: 0px;
}

.skin3.profiletext .title7{
    padding-top: 7%;
    padding-left: 0px;
    font-size: 2.5em;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.skin3.profiletext .imgbx{
    display: none;
}

.skin3.occupation{
    display: none;
}

.skin3.horizontalline{
    display :block !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4%;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    height: 3.5%;
    background: rgba(0, 0, 0, 1);
    width: 90%;
    position: absolute;
    top: 8%;
}

.skin3.about{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 12.48%;
    bottom: 1%;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 5%;
    height: auto;
}

.skin3.about:last-child{
    margin-bottom: 0;
}

.skin3.about .title3{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    border-bottom: 2px solid rgba(187, 6, 15 ,1);
    font-size: 18px;
}

.skin3.contactinfo{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 7%;
    bottom: 1%;
    padding-right: 2%;
    padding-top: 2%;
    padding-left: 2%;
    width: 33%;
    height: auto;
}

.skin3.title{
    display: none;
}

.skin3.contactinfo ul{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}

.skin3.contactinfo ul li{
    position: relative;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding-right: 20%;
}

.skin3.contactinfo ul li .icon{
    display: none;
}

.skin3.contactinfo ul li .text{
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.skin3.contactinfo ul li span{
    font-weight: 300;
}

.skin3.education{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 72%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    padding-top: 0px;
    height: auto;
}

.skin3.education .title4{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgba(187, 6, 15 ,1);
    font-size: 18px;
}

.skin3.education ul{
    padding-left: 0%;
    margin-top: 1%;
}

.skin3.education li{
    margin-bottom: 2%;
    list-style: none;
}

.skin3.education h5{
    float: right;
    font-weight: 530;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 2%;
}

.skin3.education h4:nth-child(2){
    font-weight: 700;
    margin-top: 0%;
    margin-bottom: 0px;
}

.skin3.education h4{
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 0px;
}

.skin3.languag{
    position: absolute;
    display: none;
}

.skin3.Experience{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 39%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.skin3.Experience .title2{
    border-bottom: 2px solid rgba(187, 6, 15 ,1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 0px;
    font-size: 18px;
}

.skin3.Experience .box{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.skin3.Experience .box .year_company{
    min-width: 150px;
}

.skin3.Experience .box .year_company .year{
    float: right;
}

.skin3.Experience .box .year_company .company{
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
}

.skin3.Experience .box .year_company h5{
    text-transform: uppercase;
    font-weight: 530;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 2%;
}

.skin3.Experience .box .text h4{
    text-transform: uppercase;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.skin3.p{
    color: #333;
    font-size: 15px;
    margin-top: 1%;
}

.skin3.Experience .box .text .description{
    color: #333;
    padding-top: 0px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.skin3.DisplaySkillsList{
    display: block !important;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 24%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.skin3.DisplaySkillsList .SkillsListTitle{
    border-bottom: 2px solid rgba(187, 6, 15 ,1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
    padding-right: 2%;
}

.skin3.DisplaySkillsList ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skin3.DisplaySkillsList ul li h4{
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 2%;
}

.skin3.interest{
    position: absolute;
    left: 1%;
    right: 1%;
    top: 92%;
    bottom: 1%;
    padding-right: 5%;
    padding-left: 4%;
    height: auto;
}

.skin3.interest .title6{
    border-bottom: 2px solid rgba(187, 6, 15 ,1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 18px;
}

.skin3.interest ul{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    padding-left: 2%;
}

.skin3.interest ul li{
    color: #333;
    font-weight: 500;
    margin: 2%;
    margin-left: 0%;
}
